.page {
  min-height: 25em;
  width: 80%;
  padding: 2% 0;
  margin: auto;
}

.page:after {
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  line-height: 0;
  content: ".";
}

.contact {
  float: left;
  position: relative;
  z-index: 9;
}

.contact-list {
  width: calc(47.75% - 100px);
}

.contact-form {
  width: 47.75%;
  margin-left: 2em;
}

@media (max-width: 1355px) {
  .contact {
    display: block;
    float: none;
  }

  .contact-list {
    margin-left: 2em;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}
