<div class="container" *ngIf="university$ | async as univ">

  <app-section-selector [sectionList]="sectionList" [section]="'Présentation'"></app-section-selector>
  <div class="part-content">
    <h1 class="content-title">Présentation</h1>
    <div class="content-paragraph" [innerHTML]="replaceURLWithHTMLLinks(univ.presentation_text)"></div>
  </div>
  <div class="part-content">
    <h1 class="content-title">Admission/contrat</h1>
    <div class="content-paragraph" [innerHTML]="replaceURLWithHTMLLinks(univ.admission_text)"></div>
  </div>
  <div class="part-content">
    <h1 class="content-title">Vie étudiante</h1>
    <div class="content-paragraph" [innerHTML]="replaceURLWithHTMLLinks(univ.student_life_text)"></div>
  </div>
  <div class="part-content">
    <h1 class="content-title">Coût de la vie</h1>
    <div class="content-paragraph" [innerHTML]="replaceURLWithHTMLLinks(univ.cost_of_living_text)"></div>
  </div>
  <div class="part-content">
    <h1 class="content-title">Avis</h1>
    <div class="content-paragraph">Coming soon !</div>
  </div>

</div>