<h3 class="content-title">Une question, un problème? Contactez-nous !</h3>

<form class="grid-contact-form" [formGroup]="contactForm" (ngSubmit)="sendMail()">

  <div class="grid-firstname">
    <app-form-input
      [formGroup]="contactForm"
      [formControlName]="'firstName'"
      [placeholder]="'Prénom'"
      ngDefaultControl>
    </app-form-input>
  </div>

  <div class="grid-lastname">
    <app-form-input
      [formGroup]="contactForm"
      [formControlName]="'lastName'"
      [placeholder]="'Nom'"
      ngDefaultControl>
    </app-form-input>
  </div>

  <div class="grid-email">
    <app-form-input
      [formGroup]="contactForm"
      [formControlName]="'email'"
      [placeholder]="'E-mail'"
      ngDefaultControl>
    </app-form-input>
    <div class="alert" *ngIf="emailConfirmation.dirty || emailConfirmation.touched">
      <div *ngIf="contactForm.errors?.misMatch">E-mails différents</div>
    </div>
  </div>

  <div class="grid-email-verify">
    <app-form-input
      [formGroup]="contactForm"
      [formControlName]="'emailConfirmation'"
      [placeholder]="'Confirmer l\'e-mail'"
      ngDefaultControl>
    </app-form-input>
    <div class="alert" *ngIf="email.dirty || email.touched">
      <div *ngIf="contactForm.errors?.misMatch">E-mails différents</div>
    </div>
  </div>

  <div class="grid-category">
    <app-form-select
      [formGroup]="contactForm"
      [formControlName]="'category'"
      [label]="'Catégorie'"
      [options]="categoryList"
      ngDefaultControl>
    </app-form-select>
  </div>

  <div class="grid-major">
    <app-form-select
      [formGroup]="contactForm"
      [formControlName]="'major'"
      [label]="'Votre Cursus'"
      [options]="(majors$ | async)"
      [key]="'shorthand'"
      ngDefaultControl>
    </app-form-select>
  </div>

  <div class="grid-object">
    <span [ngSwitch]="categorySwitch">

      <div *ngIf="categorySwitch !== '- - -'">Objet de votre message</div>

      <app-form-select *ngSwitchCase="'Technique'" class="grid-object-form"
        [formGroup]="contactForm"
        [formControlName]="'object'"
        [options]="techniqueList"
        ngDefaultControl>
      </app-form-select>

      <app-form-select *ngSwitchCase="'Echange'" class="grid-object-form"
        [formGroup]="contactForm"
        [formControlName]="'object'"
        [options]="echangeList"
        ngDefaultControl>
      </app-form-select>

      <app-form-input *ngSwitchCase="'autres'" class="grid-object-form"
        [formGroup]="contactForm"
        [formControlName]="'object'"
        [placeholder]="'Object'"
        ngDefaultControl>
      </app-form-input>
    </span>
  </div>

  <app-form-textarea class="grid-message"
    [formGroup]="contactForm"
    [formControlName]="'message'"
    [maxlength]="500"
    ngDefaultControl>
  </app-form-textarea>

  <button type="submit" [disabled]="contactForm.invalid"
    class="grid-submit btn-cst">Envoyer</button>

  <div [@openClose] class="modal modal-open" *ngIf="active">
    <div class="modal-box">
      <div class="modal-body">
        <h4>E-mail envoyé</h4>
      </div>
    </div>
  </div>
</form>
