<h3 class="content-title">Une question, un problème? Contactez-nous !</h3>
<form class="grid-contact-form" [formGroup]="contactForm" (ngSubmit)="sendMail()">

  <label class="grid-firstname" for="firstName">
    <input class="input-custom" placeholder="Prénom" type="text" id="firstName"
      [formControlName]="'firstName'">
  </label>

  <label class="grid-lastname" for="lastName">
    <input class="input-custom" placeholder="Nom" type="text" id="lastName"
      [formControlName]="'lastName'">
  </label>

  <label class="grid-email" for="email">
    <input class="input-custom" placeholder="Email" type="text" id="email"
      [formControlName]="'email'">
  </label>

  <label class="grid-email-verify" for="confirmationEmail">
    <input class="input-custom" placeholder="Confirmer l'e-mail" type="text" id="confirmationEmail"
      [formControlName]="'confirmationEmail'">
  </label>

  <div class="grid-category">
    <label for="category">
      <div>Catégorie</div>
      <select id="category" (change)="switchCat()" [formControlName]="'category'">
        <option *ngFor="let cat of categoryList" [ngValue]="cat">
          {{cat}}
        </option>
      </select>
    </label>
  </div>

  <div class="grid-major">
    <label for="major">
      <div>Votre Cursus</div>
      <select id="major" [formControlName]="'major'">
        <option *ngFor="let maj of majorList" [ngValue]="maj.shorthand">
          {{maj.shorthand}}
        </option>
      </select>
    </label>
  </div>

  <label class="grid-object">
    <span [ngSwitch]="categorySwitch">
      <span *ngSwitchCase="'Technique'">
        <div>Object de votre message</div>
        <select class="grid-object-form" [formControlName]="'object'">
          <option *ngFor="let obj of techniqueList" [ngValue]="obj">
            {{obj}}
          </option>
        </select>
      </span>
      <span *ngSwitchCase="'Echange'">
        <div>Object de votre message</div>
        <select class="grid-object-form" placeholder="Object" [formControlName]="'object'">
          <option *ngFor="let obj of echangeList" [ngValue]="obj">
            {{obj}}
          </option>
        </select>
      </span>
      <span *ngSwitchCase="'autres'">
        <div>Object de votre message</div>
        <input class="grid-object-form" placeholder="Object" type="text"
          [formControlName]="'object'">
      </span>
    </span>
  </label>

  <label class="grid-message" for="message">
    <textarea type="text" id="message" placeholder="Votre message"
      [formControlName]="'message'"></textarea>
  </label>

  <button type="submit" class="grid-submit btn-cst">Envoyer</button>
</form>
