@import '../../../styles/details.scss';
@import '../../../styles/button.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/modal.scss';
@import '../../../styles/form.scss';

button {
  width: 50%;
}

.grid-contact-form {
  overflow: hidden;
  display: grid;
  grid-template-columns: 22ch 22ch;
  grid-template-rows: 3ch 3ch 6ch 1fr 21ch 3ch;
  grid-template-areas:
    "firstname lastname"
    "email email-verify"
    "category major"
    "object ..."
    "message message"
    "submit none";
  grid-gap: 2ch;

}

.content-title {
  margin-bottom: 1em;
}

.grid-firstname {
  grid-area: firstname;
}

.grid-lastname {
  grid-area: lastname;
}

.grid-email {
  grid-area: email;
}

.grid-email-verify {
  grid-area: email-verify;
}

.grid-category {
  grid-area: category;
}

.grid-major {
  grid-area: major;
}

.grid-object {
  grid-area: object;

  .grid-object-form {
    height: 4ch;
  }
}

.grid-message {
  grid-area: message;
}

.grid-submit {
  grid-area: submit;
}

.modal-body {
  height: 3em;
  width: 10em;
  position: absolute;
  top: 1%;
  left: -3%;
  background: $blue3;
  color: $white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 17px;
  text-align: center;
}

h4 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin: 0;
  padding-top: 12px;
}
