@import '../../../styles/variables.scss';

.testimonial-row {
  column-count: 2;
  column-width: 50%;
  width: 90%;
  margin: 1em auto;
}

@media (max-width: 1180px) {
  .testimonial-row {
    column-count: initial;
  }
}
