<div class="filter">
  <span class="title">Destination:</span>
  <div class="area">
    <div class="element" *ngFor="let area of (areaList$ | async)"
      (click)="updateUrlByArea(area.shorthand)"
      [ngClass]="{'selected': area.shorthand === selectedArea}">
      <img src="{{area.icon}}" alt="">
      <div>
        {{area.area_name}}
      </div>
    </div>
  </div>
  <span class="title">Département:</span>
  <div class="major">
    <div class="element" *ngFor="let major of (majorList$ | async)"
      (click)="updateUrlByMajor(major.shorthand)"
      [ngClass]="{'selected': major.shorthand === selectedMajor}">
      <span [ngClass]="major.icon"></span>
      <div>
        {{major.shorthand}}
      </div>
    </div>
  </div>
  <span class="title">Language Utilisé:</span>
  <div class="language">
    <div class="element" *ngFor="let language of (languageList$ | async)"
      (click)="updateUrlByLanguage(language.language)"
      [ngClass]="{'selected': language.language === selectedLanguage}">
      <img src="{{language.icon_url}}" alt="">
      <div>
        {{language.language}}
      </div>
    </div>
  </div>
</div>
