<div class="filter">
  <span class="title">Destination:</span>
  <div class="area">
    <div class="element" *ngFor="let area of (areaList$ | async)" (click)="updateUrlByArea(area.shorthand)">
      <img src="{{area.icon}}">
      <div>
        {{area.area_name}}
      </div>
    </div>
  </div>
  <span class="title">Département:</span>
  <div class="major">
    <div class="element" *ngFor="let major of (majorList$ | async)" (click)="updateUrlByMajor(major.shorthand)">
      <span [ngClass]="major.icon"></span>
      <div>
        {{major.shorthand}}
      </div>
    </div>
  </div>
  <span class="title">Language Utilisé:</span>
  <div class="language">
    <div class="element" *ngFor="let language of (languageList$ | async)" (click)="updateUrlByLanguage(language.language)">
      <img src="{{language.icon_url}}">
      <div>
        {{language.language}}
      </div>
    </div>
  </div>
</div>
