@import '../../../styles/variables.scss';

img {
  height: 32px;
  width: 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.filter {
  width: 100%;
}

:host>div>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.element {
  border-radius: $borderRadius;
  line-height: 1em;
  font-size: 14px;
  width: 5em;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.element:hover {
  cursor: pointer;
  background-color: rgba(14, 99, 155, 0.25);
}

.major,
.language,
.area {
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.major>.element {
  height: 3em;
}

.language>.element {
  height: 4em;
}

.title {
  color: $blue2;
  margin-left: 0.5em;
}

.selected {
  background-color: $blue3;
}
