@import '../../styles/variables.scss';

.title {
  z-index: 1;
  position: relative;
  top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: $blue1;
}

.background {
  height: 650px;
  background-image: url(../../assets/background-home.jpg);
  background-size: contain;
  background-position: center 2em;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .background {
    height: 480px;
  }
}
