<div class="container" *ngIf="university">


  <!-- TEST -->
  <!-- <ul>
    <li> <a [routerLink]="['/'] + activeRoute" fragment="presentation"> Presentation </a></li>
    <li> <a [routerLink]="['/'] + activeRoute" fragment="admission"> Admission </a></li>
    <li> <a [routerLink]="['/'] + activeRoute" fragment="student"> Vie étudiante </a></li>
    <li> <a [routerLink]="['/'] + activeRoute" fragment="cost"> Coût de la vie </a></li>
    <li> <a [routerLink]="['/'] + activeRoute" fragment="advice"> Avis </a></li>
  </ul> -->


  <section *ngFor="let section of universitySections" id="{{ section.id }}" class="part-content">
    <h2 class="content-title">{{ section.name }}</h2>
    <div class="content-paragraph">{{ getSectionText(section.id) }}</div>
  </section>
</div>

<!-- <app-section-selector [sectionName]="sectionName"></app-section-selector> -->
