<table>
  <tr>
    <td>
      <div class="container" *ngIf="university">
        <section *ngFor="let section of universitySections" id="{{ section.id }}">
          <h2 class="content-title">{{ section.name }}</h2>
          <hr>
          <div class="content-paragraph">{{ getSectionText(section.id) }}</div>
        </section>
      </div>
    </td>
    <td>
      <div class="selector-container">
        <div class="selector">
          <app-section-selector [sectionList]="universitySections"></app-section-selector>
        </div>
      </div>
    </td>
  </tr>
</table>
