<footer>
  <div>
    <div class="icon">
      <span class="fas fa-file-upload"></span>
    </div>
    <br>
    Dossiers de Mobilités
    <div class="list">
      <div class="list-container">
        <div>ERASMUS</div>
      </div>
      <div class="list-container">
        <div>ASIE</div>
      </div>
      <div class="list-container">
        <div>HORS EUROPE</div>
      </div>
      <div class="list-container">
        <div>AUTRES ACCORDS</div>
      </div>
    </div>
  </div>
  <div>
    <div class="icon">
      <span class="fas fa-bars"></span>
    </div>
    <br>
    Liens Utiles
    <div class="list">
      <div class="list-container">
        <div>Site de polytech Nice</div>
      </div>
      <div class="list-container">
        <div>Polytech à l'international</div>
      </div>
    </div>
  </div>
</footer>
