@import '../../styles/variables.scss';

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 1rem 5rem 1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: $blue2;
  color: $white;
}

a {
  color: $white;
}

span {
  padding: 1rem;
  transform: rotate(-45deg);
}

.list {
  margin-top: 0.2rem;
  padding-left: 0.5em;
  font-size: 0.7em;
  display: flex;
  border-left: 1px solid $white;
  line-height: 1em;

  .list-container {
    margin-right: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid $white;
  }

  a:hover,
  .list-container:hover {
    cursor: pointer;
    color: $blue4;
  }
}

.icon {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
  transform: rotate(45deg);
  border: 2px solid $white;
  border-radius: 5%;
}
