<footer>
  <div>
    <div class="icon">
      <span class="fas fa-file-download"></span>
    </div>
    <br>
    Dossiers de Mobilités
    <div class="list">
      <div class="list-container">
        <a href="https://otakedev.com/share/files/ERASMUS%20Dossier%20candidature%20{{schoolYear}}">
          ERASMUS
        </a>
      </div>
      <div class="list-container">
        <a href="https://otakedev.com/share/files/ASIE%20Dossier%20candidature%20{{schoolYear}}">
          ASIE
        </a>
      </div>
      <div class="list-container">
        <a
          href="https://otakedev.com/share/files/HORS%20EUROPE%20Dossier%20candidature%20{{schoolYear}}">
          HORS EUROPE
        </a>
      </div>
      <div class="list-container">
        <a
          href="https://otakedev.com/share/files/AUTRES%20ACCORDS%20Dossier%20candidature%20{{schoolYear}}">
          AUTRES ACCORDS
        </a>
      </div>
    </div>
  </div>
  <div>
    <div class="icon">
      <span class="fas fa-bars"></span>
    </div>
    <br>
    Liens Utiles
    <div class="list">
      <div class="list-container">
        <a target="_blank" rel="noopener noreferrer" href="http://www.polytech.unice.fr/">
          Site de polytech Nice
        </a>
      </div>
      <div class="list-container">
        <a target="_blank" rel="noopener noreferrer"
          href="http://unice.fr/polytechnice/fr/international/etudes-a-letranger/partir-a-letranger">
          Polytech à l'international
        </a>
      </div>
    </div>
  </div>
</footer>
