@import '../../../styles/variables.scss';

.accordion {
    background-color: $blue2;
    color: $white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
    margin: 1px;
    border-radius: 5px;
}

.accordion:hover {
    background-color: $blue3;
    padding-left: 25px;
}

.country {
    transition: all 0.25s ease-out;
    padding-top: 8px;
    color: $paragraphsTextLight;
    font-weight: bolder;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}

.university {
    font-weight: normal;
    margin-left: 30px;
}

.contract {
    color: $blue3;
    font-style: italic;
}

.container {
    font-size: 21px;
    color: $paragraphsText;
    display: grid;
    grid-template-columns: auto 300px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 1em 0;
    margin-top: 0px;
    padding: 0;
  }

.chevron {
    float: right;
}

:host {
    display: block;
  }
  
.expandable {
border: 1px solid #dddddd;
border-radius: $borderRadius;
}
