@import '../../../styles/variables.scss';
@import '../../../styles/checkbox.scss';

.step-box {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  min-height: 4em;
}

.trace-step {
  flex-grow: 2;
  margin-right: 0.65em;
  padding: 0.2em;
  background-color: $white;
}

.step {
  padding-top: 0.5em;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  color: $white;
}

.trace-arrow {
  flex-shrink: 0;
  width: 2em;
  align-items: center;
}

.arrow {
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  color: $white;
}

.done {
  background-color: $green;
}
