<div class="step-box">
  <div class="trace-step">
    {{stage.label}}
    <span>
      <a class="link" target="_blank" rel="noopener noreferrer" [href]="[stage?.link?.extRef]"
        *ngIf="stage?.link?.extRef"><em class="fas fas fa-share-square"></em></a>
      <a class="link" (click)="redirectRoute(stage?.link?.router, stage?.link.fragment)"
        *ngIf="stage?.link?.router"><em class="fas fas fa-share-square"></em></a>
      <a class="link" [routerLink]="[{ outlets: { addon: [stage?.addon] } }]"
        *ngIf="stage?.addon"><em class="fas fas fa-share-square"></em></a>
    </span>

    <div *ngFor="let d of stage.description">
      <label class="container text">
        {{d.text}}
        <input type="checkbox" [checked]="d.done" (change)="onChangeStep(d, $event.target.checked)">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="trace-arrow">
    <div class="step" [class.done]="isDone">{{stage.id}}</div>
    <div class="arrow">
      <span class="fas fa-chevron-down"></span>
    </div>
  </div>
</div>
