<div class="task">
  <div class="window-container scroller" id="scroller-alt">
    <div class="help">
      Cliquer sur une description permet d'effectuer une redirection rapide
    </div>
    <div class="window" *ngFor="let step of stepList">
      <app-flow-step [stage]="step"></app-flow-step>
    </div>
  </div>
  <div class="arrow-container">
    <div class="arrow" (click)="updateWindowState()">
      <span [ngClass]="windowState ?'fas fa-caret-left': 'fas fa-caret-right'">
      </span>
    </div>
  </div>
</div>
