<div class="content">
  <h3>Demande de Témoignages</h3>
  <form [formGroup]="emailForm" (ngSubmit)="sendNewtestimonial()">
    <div formArrayName="emails">

      <div class="email-input" *ngFor="let email of emails?.controls; let i = index"
        [formGroupName]="i">

        <button type="button" class="btn-cst float" (click)="removeAt(i)">-</button>
        <app-form-input class="float"
          [formGroup]="emails.at(i)"
          [formControlName]="'email'"
          [placeholder]="'Saisir un e-mail'"
          ngDefaultControl>
        </app-form-input>

      </div>
      <button type="button" class="btn-cst" (click)="addEmailToForm()">+</button>
    </div>
    <button type="submit"
      [disabled]="emailForm.invalid"
      class="btn-cst  btn-submit">Soumettre</button>
  </form>
</div>
