<div class="content">
  <h3>Demande de Témoignages</h3>
  <form [formGroup]="emailForm">
    <div formArrayName="emails">

      <div class="email-input" *ngFor="let email of emails?.controls; let i = index"
        [formGroupName]="i">

        <button type="button" class="btn-cst float" (click)="removeAt(i)">-</button>
        <app-form-input class="float form"
          [formGroup]="emails.at(i)"
          [formControlName]="'email'"
          [placeholder]="'Saisir un e-mail'"
          ngDefaultControl>
        </app-form-input>

      </div>
      <button type="button" class="btn-cst"
        (click)="addEmailToForm()">+</button>
    </div>

    <div class="btn-submit">
      <app-form-button
        [formGroup]="emailForm"
        [label]="'Soumettre'"
        (submit)="sendNewtestimonial()">
      </app-form-button>
    </div>

  </form>
</div>
