@import '../../styles/variables.scss';
$padding: calc(20% - 200px);

header {
  display: flex;
  justify-content: center;
  background-color: $blue2;
  height: 100%;
  box-shadow: $shadow;
}

a {
  text-decoration: none;
  color: $white;
  padding: 16px 16px;
  font-weight: bold;
  cursor: pointer;
}

.home {
  padding: 0;
  padding-left: $padding;
  margin-top: 0.5rem;
}

.nav-bar {
  width: 100%;
  padding-right: $padding;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.nav-bar a:hover {
  background-color: $blue1;
  transition: background-color 0.2s ease;
}

.active {
  background: $blue1;
}

.navigation-font {
  font-size: 0.8rem;
}

.dropdown-content {
  top: $baseTop;
  display: none;
  position: absolute;
  line-height: 1em;
  min-width: 100%;
  margin-left: -1em;
}

.dropdown {
  z-index: 11;
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  background: $blue1;
}

.dropdown-content a {
  padding-bottom: 8px;
}

.dropdown-content a:hover {
  background-color: $blue2;
}

@media (max-width: 921px) {
  .nav-bar {
    line-height: initial;
  }
}
