@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
header {
  display: flex;
  background-color: $blue2;
}

a {
  text-decoration: none;
  color: $white;
  padding: 16px 16px;
}

.home {
  padding: 1rem 1rem 1rem 6rem;
}

.nav-bar {
  width: 100%;
  padding-right: 6rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.nav-bar a:hover {
  background-color: $blue1;
  transition: background-color 0.2s ease;
}

.active {
  background: $blue1;
}

.navigation-font {
  font-family: 'Roboto', sans-serif, 'Courier New', Courier, monospace;
  font-size: 0.8rem;
}

.dropdown-content {
  top: 71px;
  display: none;
  position: absolute;
  z-index: 10;
  line-height: 0.3em;
  min-width: 100%;
  margin-left: -1em;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  background: $blue1;
}

.dropdown-content a:hover {
  background-color: $blue2;
}
