<header>
  <div class="home">
    <a [routerLink]="[ '/' ]"><span [ngClass]="icone"></span></a>
  </div>
  <div class="nav-bar navigation-font">
    <a [routerLink]="[ '/school' ]" routerLinkActive="active">
      Notre Ecole
    </a>
    <a [routerLink]="[ '/exchangesUniversities' ]" routerLinkActive="active">
      Universités d'échanges
    </a>
    <a [routerLink]="[ '/testimonials' ]" routerLinkActive="active">
      Témoingnages
    </a>
    <a [routerLink]="[ '/financialAids' ]" routerLinkActive="active">
      Aides Financières
    </a>
    <a [routerLink]="[ '/calendar' ]" routerLinkActive="active">
      Calendrier
    </a>
    <a [routerLink]="[ '/contacts' ]" routerLinkActive="active">
      Contacts
    </a>
  </div>
</header>
