<header>
  <!-- home page -->
  <div class="home">
    <a [routerLink]="[ '/' ]"><span [ngClass]="icon"></span></a>
  </div>

  <div class="nav-bar navigation-font">

    <a class="dropdown" routerLinkActive="active">
      Notre Ecole <span [ngClass]="arrow_icon"></span>
      <div class="dropdown-content">
        <a *ngFor="let major of (majorList$ | async)"
          [routerLink]="[ '/school/', major.shorthand ]">{{major.title}}</a>
      </div>
    </a>

    <a class="dropdown" routerLinkActive="active">
      <a [routerLink]="[ '/exchange-universities' ]">Universités d'échanges </a>
      <span [ngClass]="arrow_icon"></span>
      <div class="dropdown-content">
        <a *ngFor="let area of (areaList$ | async)"
          (click)="goToUniversityList(area.shorthand)">{{area.name}}</a>
      </div>
    </a>

    <a [routerLink]="[ '/testimonials' ]" routerLinkActive="active">
      Témoignages
    </a>

    <a [routerLink]="[ '/financial-aids' ]" routerLinkActive="active">
      Aides Financières
    </a>

    <a [routerLink]="[ '/calendar' ]" routerLinkActive="active">
      Calendrier
    </a>

    <a [routerLink]="[ '/contacts' ]" routerLinkActive="active">
      Contacts
    </a>

  </div>
</header>
