<header>
  <!-- home page -->
  <div class="home">
    <a [routerLink]="[ '/' ]">
      <div class="home-icon"></div>
    </a>
  </div>

  <div class="nav-bar navigation-font">

    <div id="major-select" class="dropdown route" routerLinkActive="active">
      Notre Ecole <span [ngClass]="arrow_icon"></span>
      <div class="dropdown-content">
        <a *ngFor="let major of (majorList$ | async)"
          [routerLink]="[ '/school/', major.shorthand ]">{{major.title}}</a>
      </div>
    </div>

    <div class="dropdown route" routerLinkActive="active">
      <a [routerLink]="[ '/exchange-universities' ]">
        Universités d'échanges <span [ngClass]="arrow_icon"></span>
      </a>
      <div class="dropdown-content">
        <a *ngFor="let area of (areaList$ | async)"
          (click)="goToUniversityList(area.shorthand)">{{area.area_name}}</a>
      </div>
    </div>

    <a class="route" [routerLink]="[ '/testimonials' ]" routerLinkActive="active">
      Témoignages
    </a>

    <a class="route" [routerLink]="[ '/financial-aids' ]" routerLinkActive="active">
      Aides Financières
    </a>

    <a class="route" [routerLink]="[ '/contacts' ]" routerLinkActive="active">
      Contacts
    </a>

  </div>
</header>
