@import '../../styles/variables.scss';

header {
  display: flex;
  justify-content: center;
  background-color: $blue2;
  height: 100%;
  width: 100%;
  box-shadow: $shadow;
}

a {
  text-decoration: none;
}

a,
.route {
  color: $white;
  font-weight: bold;
  cursor: pointer;
}

.route {
  padding: 16px 16px;
}

.home {
  padding: 0;
  padding-left: 4vw;
  margin-top: 0.5rem;
}

.home-icon {
  background-image: url('../../assets/polytech-nice-logo-white.png');
  height: 6vh;
  width: 15vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-bar {
  width: 100%;
  padding-right: calc(20% - 200px);
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.nav-bar .route:hover {
  background-color: $blue1;
  transition: background-color 0.2s ease;
}

.active {
  background: $blue1;
}

.navigation-font {
  font-size: 0.8rem;
}

.dropdown-content {
  top: $baseTop;
  box-shadow: $shadow;
  display: none;
  position: absolute;
  line-height: 1em;
  min-width: 100%;
  margin-left: -1em;

  a {
    padding: 16px 16px;
  }
}

.dropdown {
  z-index: 11;
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  background: $blue1;
}

.dropdown-content a {
  padding-bottom: 8px;
}

.dropdown-content a:hover {
  background-color: $blue2;
}

@media (max-width: 921px) {
  .nav-bar {
    line-height: initial;
  }
}
