@import '../../../styles/variables.scss';

.card {
  display: inline-block;
  padding: 1em;
  margin-bottom: 1em;
  background-color: whitesmoke;
}

img,
source {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.title {
  padding-top: 1em;
  font-size: 25px;
  line-height: 1em;
  color: $blue1;
}

.university {
  padding-top: 0.5em;
  font-size: 18px;
  line-height: 1em;
  color: $blue2;
}

.email {
  font-size: 16px;
  color: $blue3;
}

.text {
  font-size: 17px;
  line-height: 1.2em;
  text-align: justify;
  color: $paragraphsText;
}
