<div class="card">

  <div class="picture">
    <ng-container *ngIf="testimonial.picture; else defaultPic">
      <picture>
        <source type="image/webp" srcset="{{testimonial.picture}}.webp">
        <img src="{{testimonial.picture}}.jpg" alt="<(^-^)>">
      </picture>

    </ng-container>
    <ng-template #defaultPic>
      <img src="../../../assets/bubbles.png" alt="<(^-^)>">
    </ng-template>
  </div>

  <div class="content">
    <div class="text">
      {{ testimonial.text }}
    </div>
    <div class="title">{{ testimonial.first_name}} {{ testimonial.last_name}}</div>
    <div class="university">{{ testimonial.university }}</div>
    <div class="email">{{ testimonial.email }}</div>
  </div>

</div>
