@import '../../../styles/variables.scss';
@import '../../../styles/card.scss';

.card {
  margin: 8px;
  width: 14em;
  height: 18em;
}

.speciality-image {
  height: 9em;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

.speciality-title,
.speciality-shorthand {
  position: relative;
}

.speciality-shorthand {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  top: -187px;
  left: -12px;
  text-align: right;
}

.speciality-title {
  top: -45px;
  font-size: 0.7em;
  line-height: 1.2em;
  color: white;
  font-weight: bold;
  padding: 7px;
  background-color: rgb(71, 71, 71);
}

#top-content {
  height: 9em;
}

#bottom-content {
  height: 9em;
  margin-top: 1.4em;
  color: $paragraphsText;
  text-align: left;
  font-size: 0.8em;
  padding: 9px;
  line-height: 1.1em;
  vertical-align: middle;
}
