<div class="accordion" (click)="displayContent()">
  {{ formatedPastContracts.area }}
  <span class="chevron">
    <span [ngClass]="display ? 'fa fa-fw fa-chevron-down' : 'fa fa-fw fa-chevron-right'"></span>
  </span>
</div>

<div [@openClose]="display ? 'open' : 'close'" class="expandable">
  <div class="country" *ngFor="let c of formatedPastContracts.country">
    {{ c.name }}
    <hr>
    <div class="container university" *ngFor="let univ of c.contract_by_university">
      <div class="item">{{ univ.university }}</div>
      <div class="item " style="text-align: right;">
        <span *ngFor="let u of univ.contract; let i = index">
          <a class="contract" href="{{u}}" target="_blank">{{i}}</a> |
        </span>
      </div>
      <br>
    </div>
  </div>
</div>
