@import '../../../styles/details.scss';

.line {
  display: inline-block;
  background-color: $blue4;
  height: 7em;
  width: 0.3em;
  margin-left: -6px;
}

.grid-container {
  white-space: pre-wrap;
}
