@import '../../../styles/details.scss';

.line {
  display: inline-block;
  background-color: $blue4;
  height: 6.3em;
  width: 0.3em;
  margin-left: -6px;
  position: relative;
  z-index: -1;
  top: -23px;
}

.grid-container {
  white-space: pre-wrap;
}
