<div class="grid-container" *ngIf="speciality$ | async as speciality">
  <header>

  </header>
  <main>
    <section>
      <h2 class="content-title">Présentation</h2>
      <hr>
      <div class="content-paragraph">{{ speciality.description }}</div>
    </section>

    <section>
      <h2 class="content-title">Thématiques des cours</h2>
      <hr>
      <div *ngFor="let course of toArray(speciality.topics)">
        {{ course }}
      </div>
    </section>

    <section>
      <h2 class="content-title">Anciens contrats</h2>
      <hr>
      <div *ngFor="let geo of (geographicalArea$ | async)">
        <app-accordion [title]="geo.name"></app-accordion>
      </div>
    </section>
  </main>
  <aside>
    <app-section-selector [sectionList]="specialitySections"></app-section-selector>
  </aside>
</div>
