<div class="container">
  <header>

  </header>
  <main *ngIf="speciality">
    <section *ngFor="let section of specialitySections" id="{{ section.id }}">
      <h2 class="content-title">{{ section.name }}</h2>
      <hr>
      <ng-container *ngIf="section.id === 'thematic'; else elseTemplate">
        <div *ngFor="let course of speciality.topics">
          {{ course }}
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <ng-container *ngIf="section.id === 'advice'; else elseTemplate2">
          <div *ngFor="let geo of geographicalArea">
            <app-accordion [title]="geo.name"></app-accordion>
          </div>
        </ng-container>
        <ng-template #elseTemplate2>
            <div class="content-paragraph">{{ getSectionText(section.id) }}</div>
        </ng-template>
        
      </ng-template>
    </section>
  </main>
  <aside>
    <app-section-selector [sectionList]="specialitySections"></app-section-selector>
  </aside>
</div>
