@import '../../../styles/card.scss';

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 9em;
  width: 35em;
  padding-left: 0;
  overflow: hidden;
  cursor: pointer;
  margin: 1% auto;
}

:host>div>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 12px;
  width: 95%;
  line-height: 1.5em;
  text-align: left;
}

div>div.name {
  font-size: 15px;
  font-weight: 900;
}


img {
  height: auto;
  max-height: 15em;
  width: 13em;
}

h4 {
  margin: 0;
  display: inline;
}
