@import '../../../styles/card.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/tooltip.scss';

$margin: 0.5em;

h4 {
  margin: 0;
  display: inline;
}

.card {
  cursor: pointer;
  padding: 0;
  color: $paragraphsText;
}

.grid-card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 20ch 20ch 15ch 10ch;
  grid-template-rows: 10ch 5ch;
  grid-template-areas:
    "logo title spec slots"
    "logo stats stats stats";
  grid-gap: 1ch;
}

.grid-title,
.grid-spec,
.grid-slots {
  margin-top: $margin;
}

.grid-logo {
  grid-area: logo;
  overflow: hidden;

  .contain {
    object-fit: cover;
  }

  img {
    width: 20ch;
    height: 16ch;
  }
}

.grid-title {
  grid-area: title;

  .name {
    font-size: 25px;
    line-height: 1em;
    color: $blue2;
  }

  .city {
    font-size: 16px;
  }
}

.grid-spec {
  grid-area: spec;
  align-self: center;
  font-size: 16px;
  line-height: 1.5em;
}

.grid-slots {
  grid-area: slots;
  align-self: center;
}

.grid-stats {
  grid-area: stats;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: $margin;
  margin-inline-end: $margin;

  .language img {
    height: 1.5em;
    width: 1.5em;
  }

  .rate {
    .fa-smile {
      color: $green;
    }

    .fa-meh {
      color: $yellow;
    }

    .fa-frown {
      color: $danger;
    }
  }

  h4 {
    font-size: 16px;
  }
}
