@import '../../../styles/card.scss';

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

div>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

img {
  height: 80%;
  width: 80%;
}
