<div class="grid-card card" [routerLink]="[ 'details', university.name]">

  <div class="grid-logo">
    <img src="{{university.small_picture}}" alt="[x] : university logo" class="contain" />
  </div>

  <div class="grid-title">
    <div class="name">
      {{university.name}}
    </div>
    <div class="city">
      {{university.country}}, {{university.city}}
    </div>
  </div>

  <div class="grid-spec">
    <div class="file">
      {{university.type_of_file}}
    </div>
    <div class="major">
      <h4>Département.s: </h4>{{university.major}}
    </div>
  </div>

  <div class="grid-slots tooltip">
    <ng-container *ngIf="university.nb_of_place < 3; else elseTemplate">
      <span class="fas fa-user-friends fa-3x"></span>
    </ng-container>
    <ng-template #elseTemplate>
      <span class="fas fa-users fa-3x"></span>
    </ng-template>
    {{university.nb_of_place}}
  </div>

  <div class="grid-stats">
    <div class="cost tooltip">
      <span class="tooltiptext"> € < 1000 <br> €€ > 1000 <br> €€€ > 1500 </span>
      <h4>Coût: </h4>
      <span class="fas fa-euro-sign"></span>
      <span *ngIf="university.cost_of_living > 1000">
        <span class="fas fa-euro-sign"></span>
      </span>
      <span *ngIf="university.cost_of_living > 1500">
        <span class="fas fa-euro-sign"></span>
      </span>
    </div>

    <div class="language">
      <h4>Langues: </h4>
      <div class="tooltip" *ngFor="let l of university.language">
        <span class="tooltiptext">{{l.language}}</span>
        <img src="{{l.icon_url}}" alt="[ ]">
      </div>
    </div>

    <div class="rate tooltip">
      <h4>Taux d'admission: </h4>
      <span [ngSwitch]="true">
        <span *ngSwitchCase="university.admission_rate < 50">
          <span class="fas fa-frown fa-2x"></span>
          <span class="tooltiptext">Difficile d'être accepté</span>
        </span>
        <span *ngSwitchCase="university.admission_rate > 50">
          <span class="fas fa-smile fa-2x"></span>
          <span class="tooltiptext">Bonne chance d'être accepté</span>
        </span>
        <span *ngSwitchDefault>
          <span class="fas fa-meh fa-2x"></span>
          <span class="tooltiptext">Chance moyenne d'être accepté</span>
        </span>
      </span>

    </div>
  </div>

</div>
