@import '../../../styles/details.scss';

.line {
  display: inline-block;
  background-color: $blue4;
  height: 9em;
  width: 0.3em;
  margin-left: 15px;
}

.testimonial-row {
  column-count: 2;
  column-width: 50%;
}

@media (max-width: 1180px) {
  .testimonial-row {
    column-count: initial;
  }
}

.presentation-course-separator {
  font-size: 18px;
  font-weight: bold;
}

.content-paragraph {
  line-height: 1.4em;
  font-size: 17px;
}

a.link-exchange-universities {
  text-decoration: underline;
}
