<div class="container">
  <header>
    <img src="{{university.big_picture}}" alt="<(^^)>">
  </header>
  <main *ngIf="university">

    <!-- Sections and their html contents -->
    <section *ngFor="let section of universitySections" id="{{ section.id }}">
      <h2 class="content-title">{{ section.name }}</h2><hr>
      <div class="content-paragraph" [innerHTML]="getSectionText( section.id )"></div>
    </section>
    <!-- Testimonials for the university -->
    <div *ngFor="let advice of adviceList">
      <app-testimonial [testimonial] = advice></app-testimonial>
      <br>
    </div>

  </main>
  <aside>
    <div class="line"></div>
    <app-section-selector [sectionList]="universitySections"></app-section-selector>
  </aside>
</div>
