@import '../../../styles/variables.scss';

.grid-contact {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2ch 3ch 3ch;
  grid-template-areas:
    "title"
    "name"
    "email";
}

.grid-name {
  grid-area: name;
  color: $blue1;
}

.grid-title {
  grid-area: title;
  color: $paragraphsText;
  font-size: 15px;
}

.grid-email {
  grid-area: email;
  font-size: 17px;

  .fa-envelope,
  a {
    color: $blue3;
  }

}
