<form class="testimonial-form" [formGroup]="testimonialForm">
  <h3>Ajout d'un témoignage</h3>

  <app-form-input
    class="formfield"
    [formGroup]="testimonialForm"
    [formControlName]="'firstName'"
    [placeholder]="'Prénom'"
    ngDefaultControl>
  </app-form-input>
  <app-form-input
    class="formfield"
    [formGroup]="testimonialForm"
    [formControlName]="'lastName'"
    [placeholder]="'Nom'"
    ngDefaultControl>
  </app-form-input>
  <app-form-input
    class="formfield"
    [formGroup]="testimonialForm"
    [formControlName]="'email'"
    [placeholder]="'E-mail'"
    ngDefaultControl>
  </app-form-input>
  <app-form-input
    class="formfield"
    [formGroup]="testimonialForm"
    [formControlName]="'major'"
    [placeholder]="'Cursus'"
    ngDefaultControl>
  </app-form-input>
  <app-form-input
    class="formfield"
    [formGroup]="testimonialForm"
    [formControlName]="'university'"
    [placeholder]="'Université d\'accueil'"
    ngDefaultControl>
  </app-form-input>
  <div class="textarea">
    <app-form-textarea
      [formGroup]="testimonialForm"
      [formControlName]="'text'"
      [maxlength]="500"
      ngDefaultControl>
    </app-form-textarea>
  </div>
  <app-form-button
    [formGroup]="testimonialForm"
    [label]="'Soumettre'"
    (submit)="submit()">
  </app-form-button>
</form>
