<h3>
  Ajout d'un témoignage
</h3>
<form class="testimonial-form" [formGroup]="testimonialForm">
  <label for="student-firstName">
    Prénom<br>
    <input class="input-custom" type="text" id="student_firstName" [formControlName]="'firstName'">
  </label>
  <br>
  <label for="student-last-name">
    Nom<br>
    <input class="input-custom" type="text" id = "student_prenom" [formControlName]="'lastName'">
  </label>
  <br>
  <label for="student-email">
    Email<br>
    <input class="input-custom" type="text" id="student_email" [formControlName]="'email'">
  </label>
  <br>
  <label for="student-school">
    Ecole<br>
    <input class="input-custom" type="text" id="student_school" [formControlName]="'school'">
  </label>
  <br>
  <label for="student-text">
    Texte<br>
    <textarea name="testimonial-text" id="testimonial-text" cols="30" rows="10"></textarea>
  </label>
  <br>
  <button type="submit" class="btn-custom" (click)="addTestimonial()">Ajouter</button>
</form>
