<h3>
  Ajout d'un témoignage
</h3>
<form class="testimonial-form" [formGroup]="testimonialForm" (ngSubmit)="submit()">
  Prénom<br>
  <input class="input-custom" type="text" [formControlName]="'firstName'">
  <br>
  Nom<br>
  <input class="input-custom" type="text" [formControlName]="'lastName'">
  <br>
  Email<br>
  <input class="input-custom" type="text" [formControlName]="'email'">
  <br>
  Major<br>
  <!-- <input class="input-custom" type="text" [formControlName]="'major'"> -->
  <app-form-input [type]="'text'" [formGroup]="testimonialForm" [formControlName]="'major'"
    [placeholder]="'major placeholder'" ngDefaultControl>
  </app-form-input>
  <br>
  Université d'accueil<br>
  <input class="input-custom" type="text" [formControlName]="'university'">
  <br>
  Texte<br>
  <textarea name="testimonial-text" cols="30" rows="10" type="text"
    [formControlName]="'text'"></textarea>
  <br>
  <button type="submit" class="btn-cst">Soumettre</button>
</form>
