<div [formGroup]="formGroup" class="content">
  <span>{{messageLen}}/{{maxlength}}</span>
  <label [for]="formControlName">
    <textarea
      [maxlength]="maxlength"
      [class.is-invalid]="object.invalid && (object.dirty || object.touched)"
      [class.is-valid]="object.valid && (object.dirty || object.touched)"
      [placeholder]="placeholder"
      [formControlName]="formControlName"></textarea>
    <div class="alert"
      *ngIf="object.invalid && (object.dirty || object.touched) && object.errors.required">
      Champ requis
    </div>
  </label>
</div>
