@import '../styles/variables.scss';
@import '../styles/modal.scss';

#header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  height: $baseTop;
}

#footer {
  z-index: 0;
  width: 100%;
}

#content {
  z-index: 0;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: $baseTop;
  padding-bottom: 17rem;
}

#loader {
  z-index: 4000;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.active-flow {
  margin-left: 3rem;
}
