@import '../styles/variables.scss';

#header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  height: $baseTop;
}

#content {
  z-index: 0;
  height: 100%;
  padding-top: $baseTop;
}

#loader {
  z-index: 99;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
