@import '../styles/variables.scss';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  height: $baseTop;
}

.content {
  margin-top: 83px;
}

.loader {
  z-index: 99;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
