@import '../../../styles/button.scss';
@import '../../../styles/variables.scss';

.task-btn {
  height: 3rem;
  width: 5rem;
  border-radius: 20%;
  box-shadow: $shadow;
  font-weight: bold;
  background-color: $blue3;
}

div>div {
  color: $blue2;
  transition: bottom 0.5s, color 0.5s;
}

div>div:nth-child(1) {
  position: fixed;
  z-index: 8;
}

div>div:nth-child(2) {
  position: fixed;
  z-index: 7;
  right: 4rem;
  bottom: 40px;
}

div:hover>div:nth-child(2) {
  color: $yellow;
  bottom: 90px;
}
