@import '../../../styles/button.scss';
@import '../../../styles/variables.scss';
.task-btn {
  height: 3rem;
  width: 5rem;
  border-radius: 20%;
  box-shadow: $shadow;
  font-weight: bold;
}

.flow {
  color: $blue2;
  transition: transform 1s, color 1s;
}

div>div:nth-child(1) {
  position: absolute;
  z-index: 8;
}

div>div:nth-child(2) {
  position: absolute;
  z-index: 7;
  right: -3.5rem;
}

div:hover .flow {
  color: $yellow;
  padding-bottom: 2.5rem;
  transform: translate(0, -0.8em);
}
