@import '../../../styles/variables.scss';

span {
  text-align: center;
  background-color: $blue4;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.sectionList {
  display: inline-block;
  margin-left: -19px;
}

.section:not(:last-child) {
  margin-bottom: 0.5em;
}

.section:hover .text {
  color: $blue3;
}

.link {
  color: $blue1;
  text-decoration: none;
}

.text {
  color: $paragraphsText;
  text-decoration: none;
}
