@import '../../../styles/variables.scss';
:host {
  background-color: $blue3;
  box-shadow: $shadow;
  transition: width 2s;
}

.windown {
  display: flex;
}

.closed {
  width: 0.5rem;
}

.opened {
  width: 30rem;
}

.arrow {
  background-color: $danger;
  width: 1rem;
  height: 1rem;
}
