<div class="university-card">
  <div>
    <img src="{{university.small_picture}}" alt="[x] : university logo" />
  </div>
  <div>
    <div class="name">
      {{university.name}}
    </div>
    <div class="city">
      {{university.city}}
    </div>
  </div>
  <div>
    <div class="major">
      Département.s: {{university.major}}
    </div>
    <div class="rate">
      Taux d'admis: {{university.rate_of_accept}}
    </div>
  </div>
  <div>
    <div class="file">
      {{university.type_of_file}}
    </div>
    <div class="cost">
      Coût: {{university.cost}}
    </div>
  </div>
  <div>
    <div class="nb-of-place">
      Nb de place: {{university.nb_of_place}}
    </div>
    <div class="language">
      Langues: {{university.language}}
    </div>
  </div>
</div>
