@import "./variables";

.card {
  cursor: pointer;
  border-radius: $borderRadius;
  background-color: white;
  border: 1px solid #E5E5E5;
  padding: 0;
  color: $paragraphsText;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .35);
  transform: scale(1.04);
}


.card:focus {
  outline: none;
}
