@import '../styles/variables.scss';

.container {
  // display: inline;
}

.container-details {
  position: relative;
  width: 30em;

}

.container-selector {
  position: sticky;
  top: 5em;
}

.selector {}

.content-title {
  font-size: 24px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.content-paragraph {
  text-align: justify;
  line-height: 1.6;
  font-size: 18px;
  color: $paragraphsText;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCC;
  margin: 1em 0;
  margin-top: 0px;
  padding: 0;
}
