  @import './variables.scss';

  .is-invalid {
    color: $warning1;
    border-color: $warning2;
  }

  .is-valid {
    color: $success1;
    border-color: $success2;
  }

  .alert {
    color: $danger;
    font-size: 13px;
    position: relative;
    left: 8px;
    line-height: 1em;
  }
