/**
 This file contains all the variables used for styling your app.
 */

// Colors
$blue1:#004878;
$blue2:#0E639B;
$blue3:#00AEEF;
$blue4:#8AD7F5;
$yellow:#FFC45E;
$white: #FFFFFF;
$background-color: #F0F0F0;
// border
$borderRadius: 0.5em;
