@import '../../../styles/variables.scss';

body {
    background-color: $background-color;
}

.container {
    // position: absolute;
}

.log-form {
    width: 25em;
    height: 17em;
    margin: auto;
    background-color: gainsboro;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(5,15,44,0.1);
}

.input-holder {
    text-align: center;
    margin: 10px;
}

input {
    margin-left: 8px;
}

button {
    float: right;
    margin: 20px;
    border: none;
    background-color: $blue3;
    font-style: italic;
    padding: 10px;
    left: 5px;
    transition: 0.3ms left;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: $blue2;
}

.login-title {
    padding: 10px;
    padding-top: 50px;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}