@import '../../../styles/variables.scss';
@import '../../../styles/button.scss';
@import '../../../styles/form.scss';
@import '../../../styles/modal.scss';

body {
  background-color: $background-color;
}

.container {
  position: relative;
  bottom: -5.1em;
}

.log-form {
  width: 25em;
  height: 16em;
  margin: auto;
  margin-bottom: -15%;
  background-color: rgba(241, 241, 241, 0.87);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(5, 15, 44, 0.1);
}

.input-holder {
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  border: 1px solid #CCCC;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  height: 2em;
}

input {
  margin-left: 25px;
  font-size: 18px;
  width: 70%;
  border: none;
  background-color: inherit;
  transition: 0.4s;
}

input:focus {
  left: 10px;
}

button {
  float: right;
  background-color: $blue3;
  margin-right: 10%;
  font-weight: bold;
}

.login-title {
  padding: 10px;
  padding-top: 50px;
  font-weight: bold;
  font-size: 36px;
  color: $paragraphsTextLight;
  text-align: center;
}

.fas {
  vertical-align: middle;
}

.modal-body {
  width: 10em;
  position: absolute;
  top: 1%;
  left: -3%;
  background: $warning2;
  color: $white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 17px;
  text-align: center;
}
